<html>
<head>
    <title>GPA Calculator</title>
</head>
<body>
    <h1>Welcome to Zhao's GPA Calculator</h1>
    <h2>Enter your Class Names, GPA weighted scores, and credits in the corresponding fields all separated by a comma and a space.</h2>
    <form action = "http://127.0.0.1:5000/getgpa" method = "POST">
         <p>Class Names <input type = "text" name = "Class Names" /></p>
         <p>Grades <input type = "text" name = "Grades" /></p>
         <p>Credits <input type = "text" name = "Credits" /></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>
   </body>
</html>
